* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
:root {
    font-size: 16px;
}
/* latin */
@font-face {
    font-family: "Carlito";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("tipografias/Carlito-Italic.ttf") format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: "Carlito";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("tipografias/Carlito-BoldItalic.ttf") format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: "Carlito";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("tipografias/Carlito-Regular.ttf") format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: "Carlito";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("tipografias/Carlito-Bold.ttf") format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("tipografias/FiraCode-Regular.ttf") format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("tipografias/FiraCode-Bold.ttf") format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@media (prefers-color-scheme: light){
    body:not(.tema-c, .tema-o) {
        --c-m: var(--c-c-m);
        --f-m: var(--c-f-m);
        --b-m: var(--c-b-m);
        --c-a: var(--c-c-a);
        --f-a: var(--c-f-a);
        --h-a: var(--c-h-a);
        --c-t: var(--c-c-t);
        --f-t: var(--c-f-t);
        --act-t: var(--c-act-t);
        --b-w: var(--c-b-w);
        --c-br: var(--c-c-br);
        --cact-br: var(--c-c-br);
        --cd-br: var(--c-cd-br);
        --f-br: var(--c-f-br);
        --fact-br: var(--c-fact-br);
        --fd-br: var(--c-fd-br);
        --c-bbh: var(--c-c-bbh);
        --cact-bbh: var(--c-c-bbh);
        --cd-bbh: var(--c-cd-bbh);
        --f-bbh: var(--c-f-bbh);
        --fact-bbh: var(--c-fact-bbh);
        --fd-bbh: var(--c-fd-bbh);
        --s-band: var(--c-s-band);
        --i-arc: var(--c-i-arc);
        --c-info: var(--c-c-info);
        --f-info: var(--c-f-info);
        --c-aviso: var(--c-c-aviso);
        --f-aviso: var(--c-f-aviso);
        --c-error: var(--c-c-error);
        --f-error: var(--c-f-error);
    }
}
@media (prefers-color-scheme: dark){
    body:not(.tema-c, .tema-o) {
        --c-m: var(--o-c-m);
        --f-m: var(--o-f-m);
        --b-m: var(--o-b-m);
        --c-a: var(--o-c-a);
        --f-a: var(--o-f-a);
        --h-a: var(--o-h-a);
        --c-t: var(--o-c-t);
        --f-t: var(--o-f-t);
        --act-t: var(--o-act-t);
        --b-w: var(--o-b-w);
        --c-br: var(--o-c-br);
        --cact-br: var(--o-cact-br);
        --cd-br: var(--o-cd-br);
        --f-br: var(--o-f-br);
        --fact-br: var(--o-fact-br);
        --fd-br: var(--o-fd-br);
        --c-bbh: var(--o-c-bbh);
        --cact-bbh: var(--o-cact-bbh);
        --cd-bbh: var(--o-cd-bbh);
        --f-bbh: var(--o-f-bbh);
        --fact-bbh: var(--o-fact-bbh);
        --fd-bbh: var(--o-fd-bbh);
        --s-band: var(--o-s-band);
        --i-arc: var(--o-i-arc);
        --c-info: var(--o-c-info);
        --f-info: var(--o-f-info);
        --c-aviso: var(--o-c-aviso);
        --f-aviso: var(--o-f-aviso);
        --c-error: var(--o-c-error);
        --f-error: var(--o-f-error);
    }
}
body.tema-c {
    --c-m: var(--c-c-m);
    --f-m: var(--c-f-m);
    --b-m: var(--c-b-m);
    --c-a: var(--c-c-a);
    --f-a: var(--c-f-a);
    --h-a: var(--c-h-a);
    --c-t: var(--c-c-t);
    --f-t: var(--c-f-t);
    --act-t: var(--c-act-t);
    --b-w: var(--c-b-w);
    --c-br: var(--c-c-br);
    --cact-br: var(--c-cact-br);
    --cd-br: var(--c-cd-br);
    --f-br: var(--c-f-br);
    --fact-br: var(--c-fact-br);
    --fd-br: var(--c-fd-br);
    --c-bbh: var(--c-c-bbh);
    --cact-bbh: var(--c-cact-bbh);
    --cd-bbh: var(--c-cd-bbh);
    --f-bbh: var(--c-f-bbh);
    --fact-bbh: var(--c-fact-bbh);
    --fd-bbh: var(--c-fd-bbh);
    --s-band: var(--c-s-band);
    --i-arc: var(--c-i-arc);
    --c-info: var(--c-c-info);
    --f-info: var(--c-f-info);
    --c-aviso: var(--c-c-aviso);
    --f-aviso: var(--c-f-aviso);
    --c-error: var(--c-c-error);
    --f-error: var(--c-f-error);
}
body.tema-o {
    --c-m: var(--o-c-m);
    --f-m: var(--o-f-m);
    --b-m: var(--o-b-m);
    --c-a: var(--o-c-a);
    --f-a: var(--o-f-a);
    --h-a: var(--o-h-a);
    --c-t: var(--o-c-t);
    --f-t: var(--o-f-t);
    --act-t: var(--o-act-t);
    --b-w: var(--o-b-w);
    --c-br: var(--o-c-br);
    --cact-br: var(--o-cact-br);
    --cd-br: var(--o-cd-br);
    --f-br: var(--o-f-br);
    --fact-br: var(--o-fact-br);
    --fd-br: var(--o-fd-br);
    --c-bbh: var(--o-c-bbh);
    --cact-bbh: var(--o-cact-bbh);
    --cd-bbh: var(--o-cd-bbh);
    --f-bbh: var(--o-f-bbh);
    --fact-bbh: var(--o-fact-bbh);
    --fd-bbh: var(--o-fd-bbh);
    --s-band: var(--o-s-band);
    --i-arc: var(--o-i-arc);
    --c-info: var(--o-c-info);
    --f-info: var(--o-f-info);
    --c-aviso: var(--o-c-aviso);
    --f-aviso: var(--o-f-aviso);
    --c-error: var(--o-c-error);
    --f-error: var(--o-f-error);
}

/* Maquetado */
body {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    font-family: var(--txtIntTipo), "Calibri", sans-serif;
    display: flex;
    flex-direction: column;
}
#menuBarra {
    background: var(--f-t);
    color: var(--c-t);
}
main {
    display: grid;
    grid-template-areas: "act cod cod pila reg" "act mem ay ay reg";
    flex-grow: 1;
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-rows: 1fr minmax(auto, 16rem);
    overflow: hidden;
}
main>section:not(#r-act) {
    overflow: hidden;
    border: 1px solid var(--b-m);
}
main>section>h2, #r-act [role=tabpanel]>h2 {
    padding: .25rem;
    color: var(--c-a);
    background: var(--f-a);
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 1px solid var(--b-m);
}
main>section>div {
    height: calc(100% - 1.75rem);
    position: relative;
    background: var(--f-m);
    color: var(--c-m);
}
:is(#r-mem, #r-pila, #r-reg) > div { overflow-y: scroll; }
#r-act {
    grid-area: act;
    display: flex;
}
#r-cod { grid-area: cod; }
#r-mem { grid-area: mem; }
#r-mem td, #r-mem tbody th { border: 0; }
#r-mem td:nth-child(17) { border-right: 1px solid var(--f-a); }
#r-mem td:nth-child(n+18) { padding: 0; }
#r-ay { grid-area: ay; }
#r-ay > div { padding: .5rem; }
#r-pila { grid-area: pila; }
#r-reg { grid-area: reg; }
body>footer {
    display: flex;
    justify-content: space-between;
    background: var(--f-t);
    color: var(--c-t);
}

/* Barra de actividades */
#r-act [role=tablist]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: var(--f-t);
}
#r-act [role=tablist] button {
    color: transparent;
    background: transparent;
    padding: 0;
    width: 3rem;
    height: 3rem;
}
#r-act [role=tablist] button span {
    width: 100%;
    height: 100%;
    display: inline-block;
    background: var(--c-t);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: 65%;
    mask-size: 65%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
#r-act [role=tablist] button[aria-selected=true] span{
    -webkit-mask-size: 85%;
    mask-size: 85%;
}
#r-act [role=tabpanel]:not(#r-exp, #r-msg, #r-eje)>div { padding: .5rem; }
#r-act [role=tabpanel]>h2 { padding-top: calc(.25rem + 1px); }
#r-act [role=tabpanel]>div {
    width: 20rem;
    height: calc(100% - 1.85rem);
    overflow: auto;
    background: var(--f-m);
    color: var(--c-m);
}
#r-act [role=tabpanel]:not([aria-current=page]) { display: none; }
#btnMenuExplorador span { mask-image: var(--i_expl_d); -webkit-mask-image: var(--i_expl_d); }
#btnMenuExplorador[aria-selected=true] span { mask-image: var(--i_expl_a); -webkit-mask-image: var(--i_expl_a); }
#btnMenuBuscar span { mask-image: var(--i_buscar_d); -webkit-mask-image: var(--i_buscar_d); }
#btnMenuBuscar[aria-selected=true] span { mask-image: var(--i_buscar_a); -webkit-mask-image: var(--i_buscar_a); }
#btnMenuEjecucion span { mask-image: var(--i_eje_d); -webkit-mask-image: var(--i_eje_d); }
#btnMenuEjecucion[aria-selected=true] span { mask-image: var(--i_eje_a); -webkit-mask-image: var(--i_eje_a); }
#btnMenuMensajes span { mask-image: var(--i_log_d); -webkit-mask-image: var(--i_log_d); }
#btnMenuMensajes[aria-selected=true] span { mask-image: var(--i_log_a); -webkit-mask-image: var(--i_log_a); }
#btnMenuEtiquetas span { mask-image: var(--i_eti_d); -webkit-mask-image: var(--i_eti_d); }
#btnMenuEtiquetas[aria-selected=true] span { mask-image: var(--i_eti_a); -webkit-mask-image: var(--i_eti_a); }
#btnMenuMacros span { mask-image: var(--i_macro_d); -webkit-mask-image: var(--i_macro_d); }
#btnMenuMacros[aria-selected=true] span { mask-image: var(--i_macro_a); -webkit-mask-image: var(--i_macro_a); }
#btnMenuManual span { mask-image: var(--i_man_d); -webkit-mask-image: var(--i_man_d); }
#btnMenuManual[aria-selected=true] span { mask-image: var(--i_man_a); -webkit-mask-image: var(--i_man_a); }
#btnMenuConfig span { mask-image: var(--i_config_d); -webkit-mask-image: var(--i_config_d); }
#btnMenuConfig[aria-selected=true] span { mask-image: var(--i_config_a); -webkit-mask-image: var(--i_config_a); }

/* Estilos de Widgets de actividades */
#r-act [role=tabpanel] h3 { font-size: 1.75rem; }
#r-act [role=tabpanel] h3:not(:first-of-type){ margin-top: 2rem; }
#r-act [role=tabpanel] legend {
    font-size: 1.2rem;
    font-style: italic;
}
#r-act [role=tabpanel] fieldset { margin-bottom: 1rem; }
#r-act [role=tabpanel] p { opacity: .75; }
#r-act [role=tabpanel]:not(#r-msg) .aviso {
    margin-block: .5rem;
    background: var(--f-aviso);
    padding: .5rem;
    border-left: .5rem var(--c-aviso) solid;
}
/*#r-act [role=tabpanel] .aviso::before {
    content: "⚠️";
    height: 100%;
    display: inline-block;
}*/
#r-act [role=tabpanel] :is(input[type=text], input[type=number], input[type=search], select) {
    padding: .5rem;
    width: 100%;
    border: 1px solid lightgray; /* FIX: agregar a colores */
}
#r-act [role=tabpanel] dl.natural.form dt { vertical-align: super; }
#r-act :not([role=toolbar])>:is([type=radio], [type=checkbox])+label { padding-left: .5rem; }
#r-act :not([role=toolbar])>:is([type=radio], [type=checkbox])+label::after {
    content: '\a';
    white-space: pre;
}

/* Panel Navegación */
#archivos { list-style-type: none; }
#archivos [type=checkbox] { margin-left: .5rem; }
#archivos li {
    display: flex;
    position: relative;
    align-items: center;
}
#archivos :is(li:hover, [aria-selected=true]) { background-color: var(--h-a); }
#archivos li.guardar::after {
    content: "•";
    color: var(--i-arc);
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
}
#archivos button {
    flex-grow: 1;
    padding: .5rem;
    padding-left: 1.5rem;
    background: transparent;
    text-align: left;
    font-weight: normal;
}
#archivos li.guardar button { font-style: italic; }
#archivos li.entrada button::before {
    content: "★";
    color: var(--i-arc);
    position: absolute;
    left: 2rem;
}

/* Panel Ejecución */
/* FIX: añadir a Configuración */
#outUltInstParams>span.tipo_numero {
    background: black;
    color: white;
}
#outUltInstParams>span.tipo_registro {
    background: green;
    color: white;
}
#outUltInstParams>span.tipo_registro_par {
    background: teal;
    color: white;
}
#outUltInstParams>span.tipo_bandera {
    background: crimson;
    color: white;
}
#outUltInstParams>span.tipo_direccion {
    background: rebeccapurple;
    color: white;
}
#outUltInstParams>span.tipo_direccion_r {
    background: blue;
    color: white;
}
#outUltInstParams>span.tipo_desplazamiento {
    background: brown;
    color: white;
}
#outUltInstParams>span.tipo_bit {
    background: gray;
    color: white;
}
#outUltInstParams>span {
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
}
#outUltInstParams>span::before {
    content: attr(data-tipo);
    font-size: small;
    padding: 2px;
}
#outUltInstParams>span>span {
    display: inline-block;
    background: var(--f-m);
    color: var(--c-m);
    border-radius: 2px;
    padding: 2px;
}
#hist_inst {
    list-style-position: inside;
}
#hist_inst li::marker {
    font-size: smaller;
}

/* Panel Código */
#r-cod .CodeMirror {
    font-family: var(--txtEdTipo), monospace;
    font-size: var(--txtEdTipoTam);
}
#codemirror { height: 100%; }
#r-cod .bp {
    text-decoration: none;
    color: var(--f-a);
}
#r-cod .breakpoints { width: .8rem; }
.CodeMirror-scroll {
    background: var(--f-m);
    color: var(--c-m);
}
#codemirror .CodeMirror-gutters {
    background-color: var(--f-a);
    color: var(--c-a);
}

/* Panel Registros */
#r-reg th, #t-iff1, #t-iff2 {
    -webkit-user-select: none;
    user-select: none;
}
#r-f td, #v-iff1, #v-iff2 {
    filter: grayscale(1);
    -webkit-user-select: none;
    user-select: none;
}
#r-f td.activo, #v-iff1.activo, #v-iff2.activo { filter: grayscale(0) drop-shadow(0 0 4px var(--s-band)); }

/* Ajuste de elementos */
button {
    padding: .5rem;
    color: var(--c-br);
    background: var(--f-br);
}
button:disabled {
    color: var(--cd-br);
    background: var(--fd-br);
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover { text-decoration: underline; }
table {
    text-align: center;
    border: none;
    border-collapse: collapse;
}
th, td {
    padding: .25rem;
    border: 1px solid var(--f-a);
}
:is(tbody:first-child, thead) tr:first-child :is(th, td) { border-top: none; }
tr>:first-child { border-left: none; }
tr>:last-child { border-right: none; }
tbody:last-child>tr:last-child>:is(th, td) { border-bottom-color: var(--b-m); }

/* Menú */
[role="menubar"] { list-style-type: none; }
[role="menubar"] li {
    display: inline-block;
    position: relative;
}
[role="menubar"] li>:first-child {
    display: inline-block;
    width: 100%;
    padding: .5rem;
    font-family: inherit;
    font-size: 1rem;
}
[role="menubar"] li>ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2;
    width: 12rem;
}
[role="menubar"]>li>ul {
    top: 100%;
    left: 0;
}
[role="menubar"]>li>ul li { width: 100%;}
[role="menubar"] li:hover>:first-child { background: var(--act-t); }
[role="menubar"] li:hover>ul {
    display: inline-block;
    background: var(--f-t);
    color: var(--c-t);
}
[role="menubar"] [role="separator"] {
    margin: 0 4px;
    height: 1px;
    background: var(--c-t);
    width: calc(100% - .5rem);
    display: block;
    margin-block: .5rem;
}
[role="menubar"] button {
    background: transparent;
    text-align: left;
    color: var(--c-t);
    font-weight: normal;
}
[role="menubar"] kbd {
    white-space: pre;
    font-size: smaller;
    font-style: italic;
    float: right;
}
[role="menubar"] [aria-checked="true"]::after {
    content: "✓";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .5rem;
    font-size: 1.5rem;
}
body>footer [role="menubar"] li>ul {
    top: 0;
    left: 0;
    transform: translateY(-100%);
}

/* Toolbars */
[role=toolbar] {
    display: flex;
    border-bottom: 1px solid var(--b-m);
}
[role=toolbar] :is(button, [type="checkbox"] + label) {
    color: transparent;
    padding: 0;
    width: 2rem;
    height: 2rem;
    background: var(--f-bbh);
    font-weight: bold;
}
[role=toolbar] :is(button, [type="checkbox"] + label) span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background: var(--c-bbh);
}
[role=toolbar] :is(button, [type="checkbox"] + label):hover { background: var(--fact-bbh); }
[role=toolbar] :is(button, [type="checkbox"] + label) span:hover { background: var(--cact-bbh); }
[role=toolbar] :is(button, [type="checkbox"] + label):disabled { background: var(--fd-bbh); }
[role=toolbar] :is(button, [type="checkbox"] + label):disabled span { background: var(--cd-bbh); }
[role=toolbar] [type=checkbox] { display: none; }

#btnAccionesNuevo span { mask-image: var(--i_nav_nuevo); -webkit-mask-image: var(--i_nav_nuevo); }
#btnAccionesVisualizar span { mask-image: var(--i_nav_visualizar); -webkit-mask-image: var(--i_nav_visualizar); }
#btnAccionesGuardar span { mask-image: var(--i_nav_guardar); -webkit-mask-image: var(--i_nav_guardar); }
#btnAccionesDescargar span { mask-image: var(--i_nav_descargar); -webkit-mask-image: var(--i_nav_descargar); }
#btnAccionesDuplicar span { mask-image: var(--i_nav_duplicar); -webkit-mask-image: var(--i_nav_duplicar); }
#btnAccionesBorrar span { mask-image: var(--i_nav_borrar); -webkit-mask-image: var(--i_nav_borrar); }
#btnAccionesRenombrar span { mask-image: var(--i_nav_renombrar); -webkit-mask-image: var(--i_nav_renombrar); }
#btnAccionesEntralizar span { mask-image: var(--i_nav_entralizar); -webkit-mask-image: var(--i_nav_entralizar); }

#btnAccionesLimpiarMsgs span { mask-image: var(--i_nav_borrar); -webkit-mask-image: var(--i_nav_borrar); }
[for=chkAccionesMostrarInfo] span { mask-image: var(--i_msg_i); -webkit-mask-image: var(--i_msg_i); }
[for=chkAccionesMostrarAviso] span { mask-image: var(--i_msg_a); -webkit-mask-image: var(--i_msg_a); }
[for=chkAccionesMostrarError] span { mask-image: var(--i_msg_e); -webkit-mask-image: var(--i_msg_e); }

/* Log */
[role="log"] { list-style-type: none; }
[role="log"] li { padding: .5rem; }
[role="log"] li span {
    text-decoration: none;
    display: block;
}
[role="log"] li time { color: gray; }
[role="log"] .info:hover { background: var(--f-info); }
[role="log"] .aviso:hover { background: var(--f-aviso); }
[role="log"] .error:hover { background: var(--f-error); }
[role="log"] .info span::before {
    content: "INFO: ";
    color: var(--c-info);
    font-weight: bold;
}
[role="log"] .aviso span::before {
    content: "AVISO: ";
    color: var(--c-aviso);
    font-weight: bold;
}
[role="log"] .error span::before {
    content: " ERROR: ";
    color: var(--c-error);
    font-weight: bold;
}

/* Paneles explicativos */
#pan, #panst {
    padding: .5rem;
    background: var(--f-m);
}
#pan:empty, #panst:empty { display: none; }

/* Lista natural */
dl:not(.natural) dt { font-weight: bold; }
dl:not(.natural) dd { padding-left: .5rem; }
dl.natural>* { display: inline; }
dl.natural dt { font-weight: bold; }
dl.natural dt::after {
    display: inline;
    content: ': ';
}
dl.natural dd::after {
    display: block;
    content: ' ';
}

/* Lista de variables */
.lvars [data-tipo]{ --dtipo: attr(data-tipo); }
.lvars dt::after {
    margin-left: 1ch;
    content: "(" var(--dtipo) ")";
    filter: opacity(.6);
    font-style: italic;
}
.v-defnan, .v-ref { font-style: italic; }

/* Cuadros de diálogo */
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
}
dialog form {
    padding: 1rem;
}
dialog footer {
    display: flex;
    justify-content: end;
    gap: .5rem;
    margin-top: 1rem;
}
dialog input:is([type=text], [type=search], [type=number]) {
    padding: .5rem;
    width: 100%;
}

/* Cuadro de diálogo Descargar */
#contDlgDescargar{
    display: flex;
    gap: 1rem;
}

/* Cuadro de diálogo Acerca de */
#dlgAcercaDeEsque {
    display: grid;
    grid-template-areas: "figu natu" "autr siti";
    gap: 1rem;
    text-align: center;
}
#dlgAcercaDeEsque > :nth-child(1) { grid-area: figu; }
#dlgAcercaDeEsque > :nth-child(2) {
    grid-area: natu;
    max-width: 30rem;
}
#dlgAcercaDeEsque > :nth-child(3) { grid-area: autr; }
#dlgAcercaDeEsque > :nth-child(4) { grid-area: siti; }
#dlgAcercaDeEsque figcaption { font-size :x-large; font-weight: bold; }
#dlgAcercaDeEsque a { color: dodgerblue; }
#dlgAcercaDeEsque ul { list-style-type: none; }